.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../images/fondo.png");
  background-size: cover; }
  .intro .intro__centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #fb383b;
    clip-path: ellipse(180px 220px); }
    .intro .intro__centro .centro__logo {
      height: 170px;
      width: 100%;
      padding: 10px;
      transition: 2s; }
    .intro .intro__centro .centro__logo:hover {
      transform: rotateY(180deg); }
    .intro .intro__centro .centro__titulo {
      color: whitesmoke;
      font-family: "Catamaran", sans-serif;
      font-size: 4rem;
      font-weight: 800;
      text-shadow: 2px 2px black;
      padding-top: 1px;
      padding-left: 10px;
      padding-right: 10px; }

.header {
  display: flex;
  flex-direction: row;
  background: black;
  padding: 30px; }
  .header a {
    text-decoration: none; }
  .header .header__logo {
    height: 60px;
    padding: 10px; }
  .header .header__nombre {
    color: whitesmoke; }
  .header .header__nombre:hover {
    color: #fb383b; }
  .header .header__nav {
    width: 90%; }
    .header .header__nav .nav__lista {
      display: flex;
      align-items: center;
      list-style: none;
      padding-left: 0; }
      .header .header__nav .nav__lista .lista__elem {
        font-family: "Catamaran", sans-serif;
        text-decoration: none;
        color: whitesmoke; }
      .header .header__nav .nav__lista .lista__elem:hover {
        color: #fb383b; }

/* VISTA PARA MOVIL 480px ********************************/
@media only screen and (min-width: 480px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px; }
    .header .nav__lista {
      flex-direction: column;
      justify-content: center; }
      .header .nav__lista .lista__elem {
        font-size: 1.5rem; } }

/* VISTA PARA TABLET 768px ******************************/
@media only screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: center;
    height: 100px; }
    .header .header__logo {
      height: 90px; }
    .header .nav__lista {
      flex-direction: row;
      justify-content: space-evenly; }
      .header .nav__lista .lista__elem {
        font-size: 1.3rem; } }

/* VISTA PARA DESKTOP 1024px **************************/
@media only screen and (min-width: 1024px) {
  .header {
    height: 100px; }
    .header .nav__lista {
      flex-direction: row;
      justify-content: flex-end; }
      .header .nav__lista .lista__elem {
        font-size: 1.5rem;
        padding: 20px; } }

/* TITULOS DE PAGINA ***********************************************/
.tituloPag {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: black;
  height: 300px; }
  .tituloPag .tituloPag__titular, .tituloPag .tituloPag__titular--galeria {
    font-family: "Catamaran", sans-serif;
    font-weight: 800;
    color: whitesmoke;
    padding: 20px;
    word-spacing: 5px; }
  .tituloPag .tituloPag__titular--galeria {
    padding: 10px; }

.tituloPagAlt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 300px; }
  .tituloPagAlt .tituloPagAlt__tituloAlt {
    font-family: "Catamaran", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    color: #fb383b;
    word-spacing: 5px; }
  .tituloPagAlt .tituloPagAlt__texto {
    width: 50%;
    color: whitesmoke;
    font-size: 1.2rem;
    text-align: center; }

/* VISTA PARA MOVIL 480px ********************************/
@media only screen and (min-width: 480px) {
  .tituloPag__titular, .tituloPag .tituloPag__titular--galeria {
    font-size: 1.5rem; }
  .tituloPagAlt {
    margin: 30px; }
    .tituloPagAlt .tituloPagAlt__texto {
      width: 75%; } }

/* VISTA PARA TABLET 768px ******************************/
@media only screen and (min-width: 768px) {
  .tituloPag__titular, .tituloPag .tituloPag__titular--galeria {
    font-size: 1.5rem; }
  .tituloPagAlt {
    margin: 30px; }
    .tituloPagAlt .tituloPagAlt__tituloAlt {
      font-size: 2.3rem; }
    .tituloPagAlt .tituloPagAlt__texto {
      width: 75%; } }

/* VISTA PARA DESKTOP 1024px **************************/
@media only screen and (min-width: 1024px) {
  .tituloPag__titular, .tituloPag .tituloPag__titular--galeria {
    font-size: 3rem; }
  .tituloPagAlt {
    margin: 30px; }
    .tituloPagAlt .tituloPagAlt__tituloAlt {
      font-size: 3rem; }
    .tituloPagAlt .tituloPagAlt__texto {
      width: 75%; } }

.footer {
  display: flex;
  background: black;
  justify-content: flex-end;
  width: 100%;
  height: 100px; }
  .footer .footer__listado {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    height: 100%; }
    .footer .footer__listado .listado__item {
      font-size: 25px;
      padding: 2px; }
      .footer .footer__listado .listado__item .fa {
        color: whitesmoke;
        padding-right: 20px;
        text-decoration: none; }
      .footer .footer__listado .listado__item .fa:hover {
        color: #fb383b; }

.carrito {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  padding-right: 30px; }
  .carrito .carrito__titulo {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    height: auto; }
    .carrito .carrito__titulo .titulo__texto {
      font-family: "Catamaran", sans-serif;
      font-weight: 800;
      font-size: 3rem;
      color: whitesmoke;
      word-spacing: 5px; }
  .carrito .carrito__contenedor {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: auto; }
  .carrito .btn-warning {
    color: whitesmoke;
    background-color: #fb383b;
    border-color: #fb383b; }
    .carrito .btn-warning .contenedor__logo {
      width: 40px;
      color: black; }
  .carrito .btn-warning:hover {
    color: #000;
    background-color: #ffca2c;
    border-color: #ffc720; }

.banner {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  /* VISTA PARA MOVIL 480px ********************************/
  /* VISTA PARA TABLET 768px ******************************/
  /* VISTA PARA DESKTOP 1024px **************************/ }
  .banner #carouselExampleControls {
    opacity: 0.7; }
  .banner .banner__titulo {
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: center; }
    .banner .banner__titulo .titulo__texto {
      font-family: "Catamaran", sans-serif;
      font-weight: 800;
      color: #fb383b;
      word-spacing: 5px;
      text-shadow: 3px 3px black; }
  @media only screen and (min-width: 480px) {
    .banner .titulo__texto {
      font-size: 2rem; } }
  @media only screen and (min-width: 768px) {
    .banner .titulo__texto {
      font-size: 3rem; } }
  @media only screen and (min-width: 1024px) {
    .banner .titulo__texto {
      font-size: 4rem; } }

.banner-contacto {
  width: 100%;
  height: 300px; }

.banner-contacto__contenedor {
  width: 100%;
  height: 100%;
  background-image: url("../images/banner.png");
  display: flex;
  justify-content: center;
  align-items: center; }
  .banner-contacto__contenedor .contenedor__titulo {
    font-size: 5rem;
    color: #fb383b;
    text-shadow: 2px 2px black;
    padding: 10px; }

/* VISTA PARA MOVIL 480px ********************************/
@media only screen and (min-width: 480px) {
  .contacto {
    width: 100%; }
    .contacto .contacto__contenedor {
      flex-direction: column; }
      .contacto .contacto__contenedor .contenedor__formulario {
        width: 100%; }
        .contacto .contacto__contenedor .contenedor__formulario .formulario__titulo {
          font-size: 1.2rem; }
      .contacto .contacto__contenedor .contenedor__datos {
        width: 100%; }
    .contacto .contacto__mapa {
      width: 100%; } }

/* VISTA PARA TABLET 768px ********************************/
@media only screen and (min-width: 768px) {
  .contacto .contacto__contenedor {
    flex-direction: column; }
    .contacto .contacto__contenedor .contenedor__formulario {
      width: 100%; }
    .contacto .contacto__contenedor .contenedor__datos {
      width: 100%; }
      .contacto .contacto__contenedor .contenedor__datos .formulario__titulo {
        padding-bottom: 40px;
        font-size: 1.3rem; }
  .contacto .contacto__mapa {
    width: 100%; } }

/* VISTA PARA DESKTOP 1024px **************************/
@media only screen and (min-width: 1024px) {
  .contacto .contacto__contenedor {
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px; }
    .contacto .contacto__contenedor .contenedor__formulario {
      width: 60%;
      padding: 30px; }
      .contacto .contacto__contenedor .contenedor__formulario .formulario__titulo {
        font-size: 1.5rem; }
    .contacto .contacto__contenedor .contenedor__datos {
      width: 40%; }
  .contacto .contacto__mapa {
    width: 80%; } }

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black; }
  .contacto .contacto__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    padding: 30px; }
    .contacto .contacto__contenedor .contenedor__formulario {
      background-color: black;
      height: max-content;
      color: whitesmoke;
      max-width: 600px; }
      .contacto .contacto__contenedor .contenedor__formulario .formulario__titulo {
        padding-bottom: 55px;
        padding-top: 1px;
        font-weight: bold;
        font-family: "Catamaran", sans-serif;
        color: #fb383b;
        height: 10px; }
      .contacto .contacto__contenedor .contenedor__formulario .form-check-input:checked {
        background-color: #fb383b;
        border-color: #fb383b; }
      .contacto .contacto__contenedor .contenedor__formulario .btn-warning {
        color: whitesmoke;
        background-color: #fb383b;
        border-color: #fb383b; }
      .contacto .contacto__contenedor .contenedor__formulario .btn-warning:hover {
        color: black;
        background-color: #ffca2c;
        border-color: #ffca2c; }
    .contacto .contacto__contenedor .contenedor__datos {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 400px; }
      .contacto .contacto__contenedor .contenedor__datos .datos__detalle {
        list-style-type: none; }
        .contacto .contacto__contenedor .contenedor__datos .datos__detalle .fa {
          font-size: 30px;
          color: #fb383b;
          padding: 20px; }
        .contacto .contacto__contenedor .contenedor__datos .datos__detalle .fa:hover {
          color: #ffca2c; }
        .contacto .contacto__contenedor .contenedor__datos .datos__detalle .detalle__texto {
          color: whitesmoke;
          font-size: 16px; }
  .contacto .contacto__mapa {
    display: flex;
    width: 100%;
    height: 400px;
    padding-bottom: 30px; }
    .contacto .contacto__mapa .mapa__ubicacion {
      margin-top: 10px;
      margin-bottom: 1px;
      width: 100%;
      -webkit-filter: grayscale(100%); }

* {
  margin: 0;
  padding: 0; }

body {
  height: 100%; }

.parrafo, .home .home__principal .principal__texto .texto__parrafo, .productos .productos__grilla .grilla__fideos .fideos__opciones .opciones__texto .texto__parrafo, .productos .productos__grilla .grilla__ravioles .ravioles__opciones .opciones__texto .texto__parrafo, .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 .opciones2__texto .texto__parrafo, .productos .productos__grilla .grilla__salsas .salsas__opciones3 .opciones3__texto .texto__parrafo, .quienes .parrafo--quienes {
  font-size: 1.2rem;
  font-family: "Catamaran", sans-serif;
  font-weight: 300;
  color: whitesmoke;
  word-spacing: 3px;
  text-align: justify; }

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  width: 100%;
  height: auto;
  /* VISTA PARA MOVIL 480px ********************************/
  /* VISTA PARA TABLET 768px ******************************/
  /* VISTA PARA DESKTOP 1024px **************************/ }
  .home .home__novedades {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    padding-top: 50px;
    justify-content: space-evenly; }
    .home .home__novedades .novedades__primerCont {
      display: flex; }
      .home .home__novedades .novedades__primerCont .primerCont__contenedor {
        width: 100%;
        height: auto;
        margin: 20px; }
        .home .home__novedades .novedades__primerCont .primerCont__contenedor .contenedor__titulo {
          padding: 10px 0 0 0;
          color: whitesmoke;
          font-weight: 800; }
        .home .home__novedades .novedades__primerCont .primerCont__contenedor .contenedor__foto {
          width: 100%;
          height: auto; }
        .home .home__novedades .novedades__primerCont .primerCont__contenedor .contenedor__texto {
          color: whitesmoke;
          text-align: justify; }
    .home .home__novedades .novedades__segundoCont {
      display: flex; }
      .home .home__novedades .novedades__segundoCont .segundoCont__contenedor {
        width: 100%;
        height: auto;
        margin: 20px; }
        .home .home__novedades .novedades__segundoCont .segundoCont__contenedor .contenedor__titulo {
          padding: 10px 0 0 0;
          color: whitesmoke;
          font-weight: 800; }
        .home .home__novedades .novedades__segundoCont .segundoCont__contenedor .contenedor__foto {
          width: 100%;
          height: auto; }
        .home .home__novedades .novedades__segundoCont .segundoCont__contenedor .contenedor__texto {
          color: whitesmoke;
          text-align: justify; }
  .home .home__principal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    height: auto;
    padding: 30px; }
    .home .home__principal .principal__texto {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: auto;
      padding-bottom: 30px; }
      .home .home__principal .principal__texto .btn-warning {
        float: right;
        font-size: 20px;
        color: whitesmoke;
        background-color: #fb383b;
        border-color: #fb383b; }
      .home .home__principal .principal__texto .btn-warning:hover {
        color: black;
        background-color: #ffca2c;
        border-color: #ffc720; }
    .home .home__principal .principal__imagenes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%; }
      .home .home__principal .principal__imagenes .imagenes__foto {
        width: 100px;
        height: 400px;
        opacity: 0.7; }
      .home .home__principal .principal__imagenes .imagenes__foto:hover {
        opacity: 1.0; }
  .home .home__platos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 30px; }
    .home .home__platos .platos__contenedor {
      height: max-content;
      margin: 10px;
      padding: 10px;
      color: whitesmoke;
      background: black;
      border-radius: 4px;
      width: 90%; }
      .home .home__platos .platos__contenedor .contenedor__titulo {
        color: #fb383b;
        font-family: "Catamaran", sans-serif;
        font-size: 1.5rem; }
      .home .home__platos .platos__contenedor .contenedor__foto {
        width: 100%; }
      .home .home__platos .platos__contenedor .accordion-body {
        color: black; }
      .home .home__platos .platos__contenedor .accordion-button {
        color: black; }
      .home .home__platos .platos__contenedor .accordion-button:not(.collapsed) {
        background-color: #fb383b;
        color: black; }
      .home .home__platos .platos__contenedor .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }
  .home .home__news {
    display: flex;
    justify-content: center;
    padding: 30px; }
    .home .home__news .news__contenedor {
      color: whitesmoke;
      padding: 10px;
      margin-bottom: 20px; }
      .home .home__news .news__contenedor .btn-warning {
        color: black;
        background-color: #fb383b;
        border-color: #fb383b; }
      .home .home__news .news__contenedor .btn-warning:hover {
        color: black;
        background-color: #ffca2c;
        border-color: #ffc720; }
  @media only screen and (min-width: 480px) {
    .home .home .home__novedades {
      padding: 15px; }
      .home .home .home__novedades .novedades__primerCont {
        flex-direction: row; }
      .home .home .home__novedades .novedades__segundoCont {
        flex-direction: row; }
    .home .home .home__principal {
      flex-direction: column; }
      .home .home .home__principal .principal__texto {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto; } }
  @media only screen and (min-width: 768px) {
    .home .home__principal {
      flex-direction: row; }
      .home .home__principal .principal__texto {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        padding-right: 40px; }
    .home .home__novedades {
      flex-direction: row; } }
  @media only screen and (min-width: 1024px) {
    .home .home {
      padding: 30px; }
      .home .home .home__novedades {
        flex-direction: row;
        padding: 30px; }
        .home .home .home__novedades .novedades__primerCont {
          flex-direction: row; }
        .home .home .home__novedades .novedades__segundoCont {
          flex-direction: row; }
      .home .home .home__principal {
        display: flex;
        flex-direction: row; } }

.productos {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* VISTA PARA MOVIL 480px ******************************/
  /* VISTA PARA TABLET 768px *****************************/
  /* VISTA PARA DESKTOP 1024px **************************/ }
  .productos .productos__grilla {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center; }
    .productos .productos__grilla .grilla__fideos {
      display: flex;
      flex-direction: row;
      width: 100%; }
      .productos .productos__grilla .grilla__fideos .fideos__foto {
        background-image: url(../images/pedidos_fideos.png); }
      .productos .productos__grilla .grilla__fideos .fideos__opciones {
        height: 600px; }
        .productos .productos__grilla .grilla__fideos .fideos__opciones .opciones__texto {
          background-color: #fb383b;
          padding: 20px; }
          .productos .productos__grilla .grilla__fideos .fideos__opciones .opciones__texto .texto__titulo {
            font-size: 3.5rem;
            font-weight: 600;
            color: whitesmoke;
            text-shadow: -1px 1px black; }
          .productos .productos__grilla .grilla__fideos .fideos__opciones .opciones__texto .texto__parrafo {
            color: whitesmoke;
            padding: 5px; }
          .productos .productos__grilla .grilla__fideos .fideos__opciones .opciones__texto .list-group {
            background-color: RGBA(239, 230, 221, 0.7);
            font-family: "Catamaran", sans-serif;
            font-size: 16px;
            width: 100%;
            height: auto;
            padding: 5px;
            border-radius: .25rem; }
          .productos .productos__grilla .grilla__fideos .fideos__opciones .opciones__texto .btn {
            float: right;
            font-size: 20px;
            color: black;
            background-color: #ffca2c;
            border-color: #ffca2c; }
          .productos .productos__grilla .grilla__fideos .fideos__opciones .opciones__texto .btn:focus {
            box-shadow: 0 0 0 0.25rem #ffca2c; }
          .productos .productos__grilla .grilla__fideos .fideos__opciones .opciones__texto .btn:hover {
            color: whitesmoke;
            background-color: black;
            border-color: black; }
        .productos .productos__grilla .grilla__fideos .fideos__opciones .opciones__fotobajo {
          width: 100%;
          height: 300px;
          background-image: url(../images/pedidos_fideos2.png); }
    .productos .productos__grilla .grilla__ravioles {
      display: flex;
      width: 100%; }
      .productos .productos__grilla .grilla__ravioles .ravioles__opciones .opciones__texto {
        width: 100%;
        height: 300px;
        background-color: black;
        padding: 20px; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones .opciones__texto .texto__titulo {
          font-size: 3.5rem;
          font-weight: 600;
          color: whitesmoke;
          text-shadow: -1px 1px black; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones .opciones__texto .texto__parrafo {
          color: whitesmoke;
          padding: 5px; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones .opciones__texto .list-group {
          background-color: RGBA(239, 230, 221, 0.7);
          font-family: "Catamaran", sans-serif;
          font-size: 16px;
          width: 100%;
          height: auto;
          padding: 5px;
          border-radius: .25rem; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones .opciones__texto .btn {
          float: right;
          font-size: 20px;
          color: black;
          background-color: #ffca2c;
          border-color: #ffca2c; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones .opciones__texto .btn:focus {
          box-shadow: 0 0 0 0.25rem #ffca2c; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones .opciones__texto .btn:hover {
          color: whitesmoke;
          background-color: #fb383b;
          border-color: #fb383b; }
      .productos .productos__grilla .grilla__ravioles .ravioles__opciones .opciones__fotobajo {
        background-image: url(../images/pedidos_ravioles.png); }
      .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 .opciones2__texto {
        background-color: black;
        padding: 20px; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 .opciones2__texto .texto__titulo {
          font-size: 3.5rem;
          font-weight: 600;
          color: whitesmoke;
          text-shadow: -1px 1px black; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 .opciones2__texto .texto__parrafo {
          color: whitesmoke;
          padding: 5px; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 .opciones2__texto .list-group {
          background-color: RGBA(239, 230, 221, 0.7);
          font-family: "Catamaran", sans-serif;
          font-size: 16px;
          width: 100%;
          height: auto;
          padding: 5px;
          border-radius: .25rem; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 .opciones2__texto .btn {
          float: right;
          font-size: 20px;
          color: black;
          background-color: #ffca2c;
          border-color: #ffca2c; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 .opciones2__texto .btn:focus {
          box-shadow: 0 0 0 0.25rem #ffca2c; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 .opciones2__texto .btn:hover {
          color: whitesmoke;
          background-color: #fb383b;
          border-color: #fb383b; }
      .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 .opciones2__foto2 {
        width: 100%;
        height: 400px;
        background-image: url(../images/pedidos_otras.png); }
    .productos .productos__grilla .grilla__salsas {
      display: flex;
      width: 100%; }
      .productos .productos__grilla .grilla__salsas .salsas__opciones3 .opciones3__texto {
        background-color: #fb383b;
        padding: 20px; }
        .productos .productos__grilla .grilla__salsas .salsas__opciones3 .opciones3__texto .texto__titulo {
          font-size: 3.5rem;
          font-weight: 600;
          color: whitesmoke;
          text-shadow: -1px 1px black; }
        .productos .productos__grilla .grilla__salsas .salsas__opciones3 .opciones3__texto .texto__parrafo {
          color: whitesmoke;
          padding: 5px; }
        .productos .productos__grilla .grilla__salsas .salsas__opciones3 .opciones3__texto .list-group {
          background-color: RGBA(239, 230, 221, 0.7);
          font-family: "Catamaran", sans-serif;
          font-size: 16px;
          width: 100%;
          height: auto;
          padding: 5px;
          border-radius: .25rem; }
        .productos .productos__grilla .grilla__salsas .salsas__opciones3 .opciones3__texto .btn {
          float: right;
          font-size: 20px;
          color: black;
          background-color: #ffca2c;
          border-color: #ffca2c; }
        .productos .productos__grilla .grilla__salsas .salsas__opciones3 .opciones3__texto .btn:focus {
          box-shadow: 0 0 0 0.25rem #ffca2c; }
        .productos .productos__grilla .grilla__salsas .salsas__opciones3 .opciones3__texto .btn:hover {
          color: whitesmoke;
          background-color: black;
          border-color: black; }
      .productos .productos__grilla .grilla__salsas .salsas__opciones3 .opciones3__fotobajo {
        background-color: #fb383b;
        background-image: url(../images/pedidos_salsa.png); }
      .productos .productos__grilla .grilla__salsas .salsas__foto {
        background-color: whitesmoke;
        background-image: url(../images/pedidos_salsa1.png); }
  @media only screen and (min-width: 480px) {
    .productos .productos__grilla .grilla__fideos {
      flex-direction: column;
      height: 1050px; }
      .productos .productos__grilla .grilla__fideos .fideos__foto {
        width: 100%;
        height: 450px; }
      .productos .productos__grilla .grilla__fideos .fideos__opciones {
        width: 100%; }
        .productos .productos__grilla .grilla__fideos .fideos__opciones .opciones__texto {
          width: 100%;
          height: 300px; }
    .productos .productos__grilla .grilla__ravioles {
      flex-direction: column;
      height: 1400px; }
      .productos .productos__grilla .grilla__ravioles .ravioles__opciones {
        height: 700px;
        width: 100%; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones .opciones__fotobajo {
          width: 100%;
          height: 400px; }
      .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 {
        width: 100%;
        height: 700px; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 .opciones2__texto {
          width: 100%;
          height: 300px; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 .opciones2__foto2 {
          width: 100%;
          height: 400px; }
    .productos .productos__grilla .grilla__salsas {
      flex-direction: column;
      height: 1200px; }
      .productos .productos__grilla .grilla__salsas .salsas__opciones3 {
        width: 100%;
        height: 600px; }
        .productos .productos__grilla .grilla__salsas .salsas__opciones3 .opciones3__texto {
          width: 100%;
          height: 300px; }
        .productos .productos__grilla .grilla__salsas .salsas__opciones3 .opciones3__fotobajo {
          width: 100%;
          height: 300px; }
      .productos .productos__grilla .grilla__salsas .salsas__foto {
        width: 100%;
        height: 600px; } }
  @media only screen and (min-width: 768px) {
    .productos .productos__grilla .grilla__fideos {
      display: flex;
      flex-direction: row;
      height: 600px; }
      .productos .productos__grilla .grilla__fideos .fideos__foto {
        width: 45%;
        height: 600px; }
      .productos .productos__grilla .grilla__fideos .fideos__opciones {
        width: 55%;
        height: 600px; }
        .productos .productos__grilla .grilla__fideos .fideos__opciones .opciones__texto {
          width: 100%;
          height: 350px; }
    .productos .productos__grilla .grilla__ravioles {
      flex-direction: row;
      height: 800px; }
      .productos .productos__grilla .grilla__ravioles .ravioles__opciones {
        height: 300px;
        width: 50%; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones .opciones__fotobajo {
          width: 100%;
          height: 500px; }
      .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 {
        width: 50%;
        height: 800px; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 .opciones2__texto {
          width: 100%;
          height: 400px; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 .opciones2__foto2 {
          width: 100%;
          height: 400px; }
    .productos .productos__grilla .grilla__salsas {
      flex-direction: row;
      height: 800px; }
      .productos .productos__grilla .grilla__salsas .salsas__opciones3 {
        width: 65%;
        height: 800px; }
        .productos .productos__grilla .grilla__salsas .salsas__opciones3 .opciones3__texto {
          width: 100%;
          height: 300px; }
        .productos .productos__grilla .grilla__salsas .salsas__opciones3 .opciones3__fotobajo {
          width: 100%;
          height: 500px; }
      .productos .productos__grilla .grilla__salsas .salsas__foto {
        width: 50%;
        height: 800px; } }
  @media only screen and (min-width: 1024px) {
    .productos .productos__grilla .grilla__fideos {
      display: flex;
      flex-direction: row;
      height: 600px; }
      .productos .productos__grilla .grilla__fideos .fideos__foto {
        width: 50%;
        height: 600px; }
      .productos .productos__grilla .grilla__fideos .fideos__opciones {
        width: 60%;
        height: 600px; }
        .productos .productos__grilla .grilla__fideos .fideos__opciones .opciones__texto {
          width: 100%;
          height: 300px; }
    .productos .productos__grilla .grilla__ravioles {
      flex-direction: row;
      height: 800px; }
      .productos .productos__grilla .grilla__ravioles .ravioles__opciones {
        height: 300px;
        width: 50%; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones .opciones__fotobajo {
          width: 100%;
          height: 500px; }
      .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 {
        width: 50%;
        height: 800px; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 .opciones2__texto {
          width: 100%;
          height: 400px; }
        .productos .productos__grilla .grilla__ravioles .ravioles__opciones2 .opciones2__foto2 {
          width: 100%;
          height: 400px; }
    .productos .productos__grilla .grilla__salsas {
      flex-direction: row;
      height: 800px; }
      .productos .productos__grilla .grilla__salsas .salsas__opciones3 {
        width: 65%;
        height: 800px; }
        .productos .productos__grilla .grilla__salsas .salsas__opciones3 .opciones3__texto {
          width: 100%;
          height: 300px; }
        .productos .productos__grilla .grilla__salsas .salsas__opciones3 .opciones3__fotobajo {
          width: 100%;
          height: 500px; }
      .productos .productos__grilla .grilla__salsas .salsas__foto {
        width: 50%;
        height: 800px; } }

.galeria {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  background-color: black;
  padding: 10px;
  /* VISTA PARA MOVIL 480px ******************************/
  /* VISTA PARA TABLET 768px *****************************/
  /* VISTA PARA DESKTOP 1024px **************************/ }
  .galeria .galeria__videos {
    display: flex;
    align-items: center; }
    .galeria .galeria__videos .videos__contenedor {
      position: relative;
      padding-top: 56.25%;
      width: 100%;
      overflow: hidden; }
      .galeria .galeria__videos .videos__contenedor .contenedor__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 10px; }
  .galeria .galeria__foto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; }
  @media only screen and (min-width: 480px) {
    .galeria .galeria__videos {
      flex-direction: column;
      justify-content: start;
      width: 100%;
      height: auto; } }
  @media only screen and (min-width: 768px) {
    .galeria .galeria__videos {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: auto;
      padding-left: 5px;
      padding-right: 5px; } }
  @media only screen and (min-width: 1024px) {
    .galeria .galeria__videos {
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      height: 100%; }
    .galeria .carousel {
      width: 800px;
      height: 534px; } }

.quienes {
  padding: 10px;
  background-color: black;
  width: 100%;
  /* VISTA PARA MOVIL 480px ******************************/
  /* VISTA PARA DESKTOP 1024px **************************/ }
  .quienes .seccion__imagen {
    height: auto;
    padding: 10px;
    border-radius: 30px; }
  .quienes .parrafo--quienes {
    padding: 10px;
    border-radius: 8px; }
  @media only screen and (min-width: 480px) {
    .quienes .quienes {
      display: flex;
      flex-direction: column; }
    .quienes .quienes__seccion {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; }
      .quienes .quienes__seccion .seccion__imagen {
        max-width: 100%;
        height: auto;
        padding: 10px;
        border-radius: 30px; } }
  @media only screen and (min-width: 1024px) {
    .quienes .quienes {
      display: inline-block; }
    .quienes .quienes__seccion {
      display: inline-block; }
      .quienes .quienes__seccion .seccion__imagen {
        display: block;
        float: left;
        overflow: hidden;
        max-width: 40%;
        height: auto;
        padding: 10px;
        border-radius: 30px;
        transition: all 1.5s;
        transition-timing-function: ease-in; }
      .quienes .quienes__seccion .seccion__imagen:hover {
        transform: scale(1.5) translate(50%, 0); } }
