.banner{
    width: 100%;
    height: auto;
    position: relative;
    display: block;

    #carouselExampleControls{
        opacity: 0.7;
    }


    .banner__titulo{
        position: absolute;
        top: 40%;
        left: 20%;
        text-align: center;

        .titulo__texto{
                font-family: $familiaTitulo;
                font-weight: $pesoTitulo;
                color: $colorPrimario;
                word-spacing: 5px;
                text-shadow: 2px 2px black;
        }
    }


    /* VISTA PARA MOVIL 480px ********************************/
    @media only screen and (min-width:480px){
        .titulo__texto{
            font-size: 3rem;
        }
    }


    /* VISTA PARA TABLET 768px ******************************/
    @media only screen and (min-width:768px){
        .titulo__texto{
            font-size: 4rem;
        }
    }


    /* VISTA PARA DESKTOP 1024px **************************/
    @media only screen and (min-width:1024px){
        .titulo__texto{
            font-size: 5rem;
        }
    }
}


.banner-contacto{
    width: 100%;
    height: 300px;

    .banner-contacto__contenedor{
        width: 100%;
        height: 100%;
        background-image: url("../images/banner.png");
        display: flex;
        justify-content: center;
        align-items: center;
        
        .contenedor__titulo{
            font-size: 5rem;
            font-family: $familiaTitulo;
            font-weight: $pesoTitulo;
            color: $colorPrimario;
            text-shadow: 2px 2px black;
            padding: 10px;
        }
    }
}


.banner-quienes{
    width: 100%;
    height: 300px;

    .banner-quienes__contenedor{
        width: 100%;
        height: 100%;
        background-image: url("../images/banner.png");
        display: flex;
        justify-content: center;
        align-items: center;

        
        .contenedor__titulo{
            font-size: 5rem;
            font-family: $familiaTitulo;
            font-weight: $pesoTitulo;
            color: $colorPrimario;
            text-shadow: 3px 3px black;
            padding: 10px;
        }
    }

        /* VISTA PARA MOVIL 480px ********************************/
    @media only screen and (min-width:480px){
        .banner-quienes{

            .banner-quienes__contenedor{

                .contenedor__titulo{
                    font-size: 3.5rem;
                }
            }
        }
    }


    /* VISTA PARA TABLET 768px ******************************/
    @media only screen and (min-width:768px){
        .banner-quienes{

            .banner-quienes__contenedor{

                .contenedor__titulo{
                    font-size: 5rem;
                }
            }
        }
    }


    /* VISTA PARA DESKTOP 1024px **************************/
    @media only screen and (min-width:1024px){
        .banner-quienes{

            .banner-quienes__contenedor{

                .contenedor__titulo{
                    font-size: 6rem;
                }
            }
        }
    }
}

