.carrito{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    background-color: $colorFondoPpal;
    padding-right: 30px;

    .carrito__titulo{
        display: flex;
        justify-content: flex-start;
        width: 70%;
        height: auto;
        
        .titulo__texto{
            font-family: $familiaTitulo;
            font-weight: $pesoTitulo;
            font-size: $tamanioTitulo;
            color: $colorSecundario;
            word-spacing: 5px;
        }
    }

    .carrito__contenedor{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 30%;
        height: auto;
    }


    .btn-warning{
        color: $colorParrafo;
        background-color: $colorPrimario;
        border-color: $colorPrimario;

        .contenedor__logo{
            width: 40px;
            color: $colorParrafoAlt;
        }

        
    }

    .btn-warning:hover {
        color: #000;
        background-color: #ffca2c;
        border-color: #ffc720;
    }
}