
.footer{
    display: flex;
    background: $colorFondoPpal;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
    
    .footer__listado{
        list-style: none;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        width: 100%;
        height: 100%;

        .listado__item{
            font-size: 25px;
            padding: 2px;

            .fa{
                color: $colorParrafo;
                padding-right: 20px;
                text-decoration: none;
            }

            .fa:hover{
                color: $colorPrimario;
            }
        }
    }
}