
.header{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, $gradientClaro, $colorFondoPpal);

    .header__logo{
            height: 100px;
            padding: 10px;
    }

    .header__nav{
        width: 90%;

        .nav__lista{
            display: flex;
            justify-content: space-evenly;
            align-items:center;
            list-style: none;
            padding-left: 0px;

            .lista__elem{
                font-family: $familiaMenu;
                text-decoration: none;
                padding: 2px;
                color:$colorParrafo
            }

            .lista__elem:hover{
                background-color: $colorTerciario;
                color: black;
                padding: 2px;
            }
        }
    }
}


/* VISTA PARA MOVIL 480px ********************************/
@media only screen and (min-width:480px){
    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;

        .nav__lista{
            flex-direction: column;
            justify-content: center;

            .lista__elem{
                font-size: $tamanioMenu;
            }
        }
    }
}


/* VISTA PARA TABLET 768px ******************************/
@media only screen and (min-width:768px){
    .header{
        flex-direction: row;
        justify-content: center;
        height: 100px;

        .header__logo{
            height: 90px;
        }
    
        .nav__lista{
            flex-direction: row;
            justify-content: space-evenly;

            .lista__elem{
                font-size: $tamanioMenuTablet;
            }

        }
    }
}


/* VISTA PARA DESKTOP 1024px **************************/
@media only screen and (min-width:1024px){
    .header{
        height: 100px;

            .nav__lista{
        flex-direction: row;
        justify-content: space-evenly;


            .lista__elem{
                font-size: $tamanioMenu;
            }
        }
    }
}