
.header{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, $gradientClaro, $colorFondoPpal);

    a{
        text-decoration: none;
    }

    .header__logo{
        height: 100px;
        padding: 10px;
    }

    .header__nombre{
        color: $colorParrafo;
    }

    .header__nombre:hover{
        color: $colorSecundario;
        padding: 2px;
    }

    .header__nav{
        width: 90%;

        .nav__lista{
            display: flex;
            align-items:center;
            list-style: none;
            padding-left: 0;

            .lista__elem{
                font-family: $familiaMenu;
                text-decoration: none;
                color:$colorParrafo;
            }

            .lista__elem:hover{
                color: $colorSecundario;
                padding: 2px;
            }
        }
    }
}


/* VISTA PARA MOVIL 480px ********************************/
@media only screen and (min-width:480px){
    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;

        .nav__lista{
            flex-direction: column;
            justify-content: center;

            .lista__elem{
                font-size: $tamanioMenu;
            }

            .lista__elem:hover{
                font-size: $tamanioMenu * 1.2;
            }
        }
    }
}


/* VISTA PARA TABLET 768px ******************************/
@media only screen and (min-width:768px){
    .header{
        flex-direction: row;
        justify-content: center;
        height: 100px;

        .header__logo{
            height: 90px;
        }
    
        .nav__lista{
            flex-direction: row;
            justify-content: space-evenly;

            .lista__elem{
                font-size: $tamanioMenuTablet;
            }

            .lista__elem:hover{
                font-size: $tamanioMenuTablet * 1.2;
            }

        }
    }
}


/* VISTA PARA DESKTOP 1024px **************************/
@media only screen and (min-width:1024px){
    .header{
        height: 100px;

            .nav__lista{
                flex-direction: row;
                justify-content: flex-end;


            .lista__elem{
                font-size: $tamanioMenu;
                padding: 20px;
            }

            .lista__elem:hover{
                font-size: $tamanioMenu * 1.2;
            }
        }
    }
}