.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("../images/fondo.png");
    background-size: cover;

    .intro__centro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: $colorPrimario;
        clip-path: ellipse(180px 220px);

        .centro__logo{
            height: 170px;
            width: fit-content;
            padding: 10px;
            transition: 2s;
        }

        .centro__logo:hover{
            transform: rotateY(180deg);
        }

        .centro__titulo{
            width: fit-content;
            color: $colorCuatro;
            font-family: $familiaTitulo;
            font-size: 4rem;
            font-weight: $pesoTitulo;
            text-shadow: 2px 2px black;
            padding-top: 1px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }  
}