
$colorPrimario: #BB4430;
$colorSecundario: #7EBDC2;
$colorTerciario: #f3dfa2;

$colorFondoPpal: #393940;
$colorFondoSec: #EFE6DD;
$colorFondoTerc: #BB4430;
$colorFondoProductos: RGBA(239,230,221,0.7);

$colorParrafo: whitesmoke;
$gradientClaro: #6d6c6c;

