
$colorPrimario: #B63B30;
$colorSecundario: #F3EE5A;
$colorTerciario: #328860;

$colorFondoPpal: #0B4C16;
$colorFondoSec: #E4B3CD;
$colorFondoTerc: #B63B30;
$colorFondoProductos: RGBA(239,230,221,0.7);

$colorParrafo: #f5f5f5;
$colorParrafoAlt: black;
$gradientClaro: #2a7854;
