// PALETA DE COLORES BASICA //
$colorPrimario: #fb383b;;
$colorSecundario: whitesmoke;
$colorTerciario: #202020;
$colorCuatro: #ffca2c;

// COLORES DE FONDO //
$colorFondoPpal: #202020;
$colorFondoSec: whitesmoke;
$colorFondoTerc: #fb383b;;
$colorFondoPedidos: RGBA(239,230,221,0.7);

// COLORES LETRAS //
$colorParrafo: whitesmoke;
$colorParrafoAlt: black;

