// PAGINA PEDIDOS //
.productos{
    background-color: $colorFondoPpal;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .productos__grilla{
        display:flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;

        .grilla__fideos{
            display: flex;
            flex-direction: row;
            width: 100%;

            .fideos__foto{
                background-image: url(../images/pedidos_fideos.jpg);
                background-repeat: no-repeat;
            }

            .fideos__opciones{
                height: 600px;

                .opciones__texto{
                    background-color: $colorFondoTerc;
                    padding: 20px;           

                    .texto__titulo{
                        font-size: $tamanioGrillaTitulo;
                        font-weight: $pesoGrillaTitulo;
                        color: $colorParrafo;
                        text-shadow: $sombraTitulos;
                    }
    
                    .texto__parrafo{
                        @extend .parrafo;
                        color: $colorParrafo;
                        padding: 5px;
                    }

                    .list-group{
                        background-color: $colorFondoPedidos;
                        font-family: $familiaParrafo;
                        font-size: 1.3rem;
                        width: 100%;
                        height: auto;
                        padding: 5px;
                        border-radius: .25rem;
                    }

                    .btn{
                        float: right;
                        font-size: 1.3rem;
                        color: $colorParrafo;
                        background-color: $colorFondoPpal;
                        border-color: $colorFondoPpal;
                    }

                    .btn:focus{
                        box-shadow: 0 0 0 .25rem $colorCuatro;
                    }

                    .btn:hover{
                        color: $colorParrafoAlt;
                        background-color: $colorCuatro;
                        border-color: $colorCuatro;
                    }
                }

                .opciones__fotobajo{
                    width: 100%;
                    height: 300px;
                    background-image: url(../images/pedidos_fideos2.jpg);
                    background-repeat: no-repeat;
                }
            }
        }

        .grilla__ravioles{
            display: flex;
            width: 100%;

            .ravioles__opciones{

                .opciones__texto{
                    width: 100%;
                    height: 300px;
                    background-color: $colorFondoPpal;
                    padding: 20px;           

                    .texto__titulo{
                        font-size: $tamanioGrillaTitulo;
                        font-weight: $pesoGrillaTitulo;
                        color: $colorParrafo;
                        text-shadow: $sombraTitulos;
                    }
    
                    .texto__parrafo{
                        @extend .parrafo;
                        color: $colorSecundario;
                        padding: 5px;
                    }

                    .list-group{
                        background-color: $colorFondoPedidos;
                        font-family: $familiaParrafo;
                        font-size: 1.3rem;
                        width: 100%;
                        height: auto;
                        padding: 5px;
                        border-radius: .25rem;
                    }

                    .btn{
                        float: right;
                        font-size: 1.3rem;
                        color: $colorParrafo;
                        background-color: $colorPrimario;
                        border-color: $colorPrimario;
                    }

                    .btn:focus{
                        box-shadow: 0 0 0 .25rem $colorPrimario;
                    }

                    .btn:hover{
                        color: $colorParrafoAlt;
                        background-color: $colorCuatro;
                        border-color: $colorCuatro;
                    }
                }

                .opciones__fotobajo{
                    background-image: url(../images/pedidos_ravioles.jpg);
                    background-repeat: no-repeat;
                }
            }

            .ravioles__opciones2{

                .opciones2__texto{
                    background-color: $colorFondoPpal;
                    padding: 20px;           

                    .texto__titulo{
                        font-size: $tamanioGrillaTitulo;
                        font-weight: $pesoGrillaTitulo;
                        color: $colorParrafo;
                        text-shadow: $sombraTitulos;
                    }
    
                    .texto__parrafo{
                        @extend .parrafo;
                        color: $colorSecundario;
                        padding: 5px;
                    }

                    .list-group{
                        background-color: $colorFondoPedidos;
                        font-family: $familiaParrafo;
                        font-size: 1.3rem;
                        width: 100%;
                        height: auto;
                        padding: 5px;
                        border-radius: .25rem;
                    }

                    .btn{
                        float: right;
                        font-size: 1.2rem;
                        color: $colorParrafo;
                        background-color: $colorPrimario;
                        border-color: $colorPrimario;
                    }

                    .btn:focus{
                        box-shadow: 0 0 0 .25rem $colorPrimario;
                    }

                    .btn:hover{
                        color: $colorParrafoAlt;
                        background-color: $colorCuatro;
                        border-color: $colorCuatro;
                    }
                }

                .opciones2__foto2{
                width: 100%;
                height: 400px;
                background-image: url(../images/pedidos_otras.jpg);
                background-repeat: no-repeat;
                }
            }
        }

        .grilla__salsas{
            display: flex;
            width: 100%;

            .salsas__opciones3{

                .opciones3__texto{
                    background-color: $colorPrimario;
                    padding: 20px;           

                    .texto__titulo{
                        font-size: $tamanioGrillaTitulo;
                        font-weight: $pesoGrillaTitulo;
                        color: $colorParrafo;
                        text-shadow: $sombraTitulos;
                    }
    
                    .texto__parrafo{
                        @extend .parrafo;
                        color: $colorSecundario;
                        padding: 5px;
                    }

                    .list-group{
                        background-color: $colorFondoPedidos;
                        font-family: $familiaParrafo;
                        font-size: 1.3rem;
                        width: 100%;
                        height: auto;
                        padding: 5px;
                        border-radius: .25rem;
                    }

                    .btn{
                        float: right;
                        font-size: 1.3rem;
                        color: $colorParrafo;
                        background-color: $colorFondoPpal;
                        border-color: $colorFondoPpal;
                    }

                    .btn:focus{
                        box-shadow: 0 0 0 .25rem $colorPrimario;
                    }

                    .btn:hover{
                        color: $colorParrafoAlt;
                        background-color: $colorCuatro;
                        border-color: $colorCuatro;
                    }
                }

                .opciones3__fotobajo{
                    background-color: $colorPrimario;
                    background-image: url(../images/pedidos_salsas.jpg);
                    background-repeat: no-repeat;
                }
            }

            .salsas__foto{
                background-color: $colorSecundario;
                background-image: url(../images/pedidos_salsa1.jpg);
                background-repeat: no-repeat;
            }
        }
    }       

    
    /* VISTA PARA MOVIL 480px ******************************/
    @media only screen and (min-width:480px){
        .productos__grilla{

            .grilla__fideos{
                flex-direction: column;
                height: 1050px;

                .fideos__foto{
                    width: 100%;
                    height: 450px;
                }

                .fideos__opciones{
                    width: 100%;

                    .opciones__texto{
                        width: 100%;
                        height: 300px;
                    }
                }
            }

            .grilla__ravioles{
                flex-direction: column;
                height: 1400px;

                .ravioles__opciones{
                    height: 700px;
                    width: 100%;

                    .opciones__fotobajo{
                        width: 100%;
                        height: 400px;
                    }
                }

                .ravioles__opciones2{
                    width: 100%;
                    height: 700px;

                    .opciones2__texto{
                        width: 100%;
                        height: 300px;
                    }

                    .opciones2__foto2{
                        width: 100%;
                        height: 400px;
                    }
                }
            }

            .grilla__salsas{
                flex-direction: column;
                height: 1200px;

                .salsas__opciones3{
                    width: 100%;
                    height: 600px;

                    .opciones3__texto{
                        width: 100%;
                        height: 300px;
                    }

                    .opciones3__fotobajo{
                        width: 100%;
                        height: 300px;
                    }
                }

                .salsas__foto{
                    width: 100%;
                    height: 600px;
                }

            }
        }
    }


    /* VISTA PARA TABLET 768px *****************************/
    @media only screen and (min-width:768px){
        .productos__grilla{

            .grilla__fideos{
                display: flex;
                flex-direction: row;
                height: 600px;

                .fideos__foto{
                    width: 45%;
                    height: 600px;
                }

                .fideos__opciones{
                    width: 55%;
                    height: 600px;

                    .opciones__texto{
                        width: 100%;
                        height: 350px;
                    }
                }
            }

            .grilla__ravioles{
                flex-direction: row;
                height: 800px;

                .ravioles__opciones{
                    height: 300px;
                    width: 50%;

                    .opciones__fotobajo{
                        width: 100%;
                        height: 500px;
                    }
                }

                .ravioles__opciones2{
                    width: 50%;
                    height: 800px;

                    .opciones2__texto{
                        width: 100%;
                        height: 400px;
                    }

                    .opciones2__foto2{
                        width: 100%;
                        height: 400px;
                    }
                }
            }

            .grilla__salsas{
                flex-direction: row;
                height: 800px;

                .salsas__opciones3{
                    width: 65%;
                    height: 800px;

                    .opciones3__texto{
                        width: 100%;
                        height: 300px;
                    }

                    .opciones3__fotobajo{
                        width: 100%;
                        height: 500px;
                    }
                }
                .salsas__foto{
                    width: 50%;
                    height: 800px;
                }
            }
        }
    }
    

    /* VISTA PARA DESKTOP 1024px **************************/
    @media only screen and (min-width:1024px){
        .productos__grilla{

            .grilla__fideos{
                display: flex;
                flex-direction: row;
                height: 600px;

                .fideos__foto{
                    width: 50%;
                    height: 600px;
                }

                .fideos__opciones{
                    width: 60%;
                    height: 600px;

                    .opciones__texto{
                        width: 100%;
                        height: 300px;
                    }
                }
            }

            .grilla__ravioles{
                flex-direction: row;
                height: 800px;

                .ravioles__opciones{
                    height: 300px;
                    width: 50%;

                    .opciones__fotobajo{
                        width: 100%;
                        height: 500px;
                    }
                }

                .ravioles__opciones2{
                    width: 50%;
                    height: 800px;

                    .opciones2__texto{
                        width: 100%;
                        height: 400px;
                    }

                    .opciones2__foto2{
                        width: 100%;
                        height: 400px;
                    }
                }
            }

            .grilla__salsas{
                flex-direction: row;
                height: 800px;

                .salsas__opciones3{
                    width: 65%;
                    height: 800px;

                    .opciones3__texto{
                        width: 100%;
                        height: 300px;
                    }

                    .opciones3__fotobajo{
                        width: 100%;
                        height: 500px;
                    }
                }
                .salsas__foto{
                    width: 50%;
                    height: 800px;
                }
            }
        }
    }
}