// FORMATO DE TITULOS //
$familiaTitulo: 'Catamaran', sans-serif;
$pesoTitulo: 800;
$tamanioTitulo: 3rem;
$tamanioTituloTablet: 2.3rem;
$tamanioTituloMob: 1.5rem;
$sombraTitulos: 3px 3px black;
$espaciadoTitulos: 5px;

// FORMATO DE PARRAFOS //
$familiaParrafo: 'Catamaran', sans-serif;
$pesoParrafo: 300;
$tamanioParrafo: 1.2rem;
$interlineado: 1.5;
$espaciadoParrafo: 3px;

// MENU DE NAVEGACION //
$familiaMenu: 'Catamaran', sans-serif;
$pesoMenu: 600;
$tamanioMenu: 1.5rem;
$tamanioMenuTablet: 1.3rem;

// GRILLA //
$tamanioGrillaTitulo: 3.5rem;
$pesoGrillaTitulo: 600;