// FORMATO DE TITULOS //
$familiaTitulo: 'Catamaran', sans-serif;
$pesoTitulo: 800;
$tamanioTitulo: 4rem;
$tamanioTituloMob: 3rem;
$sombraTitulos: -1px 1px black;
$espaciadoTitulos: 5px;

// FORMATO DE PARRAFOS //
$familiaParrafo: 'Catamaran', sans-serif;
$pesoParrafo: 400;
$tamanioParrafo: 1.4rem;
$interlineado: 1.5;
$espaciadoParrafo: 3px;

// MENU DE NAVEGACION //
$familiaMenu: 'Catamaran', sans-serif;
$pesoMenu: 600;
$tamanioMenu: 1.5rem;
$tamanioMenuTablet: 1.5rem;

// GRILLA //
$tamanioGrillaTitulo: 3.5rem;
$pesoGrillaTitulo: 600;