$familiaTitulo: 'Abril Fatface';
$tamanioTitulo: 4rem;
$tamanioTituloMob: 3rem;
$sombraTitulos: -1px 1px black;
$espaciadoTitulos: 5px;

$familiaParrafo: Palatino, URW Palladio serif;
$tamanioParrafo: 1.2rem;
$interlineado: 1.5;
$espaciadoParrafo: 3px;

// MENU DE NAVEGACION //
$familiaMenu: 'Cardo', serif;
$tamanioMenu: 2rem;
$tamanioMenuTablet: 1.5rem;