@import "paletaColores.scss";
@import "tipografia.scss";
@import "intro.scss";
@import "header.scss";
// @import "tituloPagina.scss";
@import "footer.scss";
@import "carrito.scss";
@import "banner.scss";
@import "pedidos.scss";
@import "recetas.scss";
@import "quienes.scss";
@import "contacto.scss";
@import "404.scss";


*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}


// FUNCION PARA FORMATEAR PARRAFO PRINCIPAL ***********//
.parrafo{
    font-size: $tamanioParrafo;
    font-family: $familiaParrafo;
    font-weight: $pesoParrafo;
    color: $colorParrafo;
    word-spacing: $espaciadoParrafo;
    text-align: justify;
}

// FUNCION PARA FORMATEAR PARRAFO SECUNDARIO ***********//
@mixin parrafoSec($colorTexto, $colorBack){
    height:max-content;
    margin: 10px;
    padding: 10px;
    color: $colorTexto;
    background: $colorBack;
    border-radius: 4px;
    width: 90%;
}

// PAGINA INICIO //
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $colorFondoPpal;
    width: 100%;
    height: auto;

    .home__novedades{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px;
        padding-top: 50px;
        justify-content: space-evenly;

        .novedades__primerCont{
            display: flex;

            .primerCont__contenedor{
                width: 100%;
                height: auto;
                margin: 20px;

                .contenedor__titulo{
                    padding: 10px 0 0 0;
                    color: $colorSecundario;
                    font-weight: 800;
                }

                .contenedor__foto{
                    width: 100%;
                    height: auto;
                }
                
                .contenedor__texto{
                    color: $colorParrafo;
                    text-align: justify;
                }
            }
        }

        .novedades__segundoCont{
            display: flex;

            .segundoCont__contenedor{
                width: 100%;
                height: auto;
                margin: 20px;

                .contenedor__titulo{
                    padding: 10px 0 0 0;
                    color: $colorSecundario;
                    font-weight: 800;
                }

                .contenedor__foto{
                    width: 100%;
                    height: auto;
                }
                
                .contenedor__texto{
                    color: $colorParrafo;
                    text-align: justify;
                }
            }
        }
    }

    .home__principal{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        width: 100%;
        height: auto;
        padding: 30px;

        .principal__texto{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: auto;
            padding-bottom: 30px;

            .texto__parrafo{
                @extend .parrafo;
            }

            .btn-warning{
                float: right;
                font-size: 1.3rem;
                color: $colorParrafo;
                background-color: $colorPrimario;
                border-color: $colorPrimario;
            }

            .btn-warning:hover{
                color: black;
                background-color: #ffca2c;
                border-color: #ffc720;
            }
        }

        .principal__imagenes{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;

                .imagenes__foto{
                    width: 100px;
                    height: 400px;
                    opacity: 0.7;
                }

                .imagenes__foto:hover{
                    opacity: 1.0;
                }
        }
    }

    .home__platos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 30px;
        
        .platos__contenedor{
            @include parrafoSec ($colorParrafo, $colorFondoPpal);
            width: 70%;

            .contenedor__titulo{
                color: $colorPrimario;
                font-family: $familiaTitulo;
                font-size: $tamanioMenu;
            }

            .contenedor__foto{
                width: 100%;
            }

            .accordion-body{
                color: $colorParrafoAlt;
            }

            .accordion-button{
                color: $colorParrafoAlt;
            }

            .accordion-button:not(.collapsed){
                background-color: $colorPrimario;
                color: $colorParrafoAlt;
            }

            .accordion-button::after{
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            }
        }
    }

    .home__news{
        display: flex;
        justify-content: center;
        padding: 30px;

    
        .news__contenedor{
            color: $colorParrafo;
            padding: 10px;
            margin-bottom: 20px;

            .btn-warning{
                color: $colorParrafoAlt;
                background-color: $colorPrimario;
                border-color: $colorPrimario;
            }

            .btn-warning:hover{
                color: black;
                background-color: #ffca2c;
                border-color: #ffc720;

            }
        }
    }

    /* VISTA PARA MOVIL 480px ********************************/
    @media only screen and (min-width:480px){
        .home{

            .home__novedades{
                padding: 15px;

                .novedades__primerCont{
                    flex-direction: row;
                }

                .novedades__segundoCont{
                    flex-direction: row;
                }
            }

            .home__principal{
                flex-direction: column;

                .principal__texto{
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    height: auto;
                }
            }       
        }
    }

    /* VISTA PARA TABLET 768px ******************************/
    @media only screen and (min-width:768px){
        .home__principal{
            flex-direction: row;

            .principal__texto{
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: auto;
                padding-right: 40px;
            }

        }

        .home__novedades{
            flex-direction: row;
        }
    }


    /* VISTA PARA DESKTOP 1024px **************************/
    @media only screen and (min-width:1024px){
        .home{
            padding: 30px;

            .home__novedades{
                flex-direction: row;
                padding: 30px;

                .novedades__primerCont{
                    flex-direction: row;
                }
        
                .novedades__segundoCont{
                    flex-direction: row;
                }
            }

            .home__principal{
                display: flex;
                flex-direction: row;
            }
        }
    }
}