@import "paletaColores.scss";
@import "tipografia.scss";
@import "intro.scss";
@import "header.scss";
@import "tituloPagina.scss";
@import "footer.scss";
@import "carrito.scss";


*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}


// FUNCION PARA FORMATEAR PARRAFO PRINCIPAL ***********//
.parrafo{
    font-size: $tamanioParrafo;
    font-family: $familiaParrafo;
    font-weight: $pesoParrafo;
    color: $colorParrafo;
    word-spacing: $espaciadoParrafo;
    text-align: justify;
}

// FUNCION PARA FORMATEAR PARRAFO SECUNDARIO ***********//
@mixin parrafoSec($colorTexto, $colorBack){
    height:max-content;
    margin: 10px;
    padding: 10px;
    color: $colorTexto;
    background: $colorBack;
    border-radius: 4px;
    width: 90%;
}

// PAGINA INICIO //
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $colorFondoPpal;
    width: 100%;
    height: auto;

    .home__novedades{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px;
        padding-top: 50px;
        justify-content: space-evenly;

        .novedades__primerCont{
            display: flex;

            .primerCont__contenedor{
                width: 100%;
                height: auto;
                margin: 20px;

                .contenedor__titulo{
                    padding: 10px 0 0 0;
                    color: $colorSecundario;
                    font-weight: 800;
                }

                .contenedor__foto{
                    width: 100%;
                    height: auto;
                }
                
                .contenedor__texto{
                    color: $colorParrafo;
                    text-align: justify;
                }
            }
        }

        .novedades__segundoCont{
            display: flex;

            .segundoCont__contenedor{
                width: 100%;
                height: auto;
                margin: 20px;

                .contenedor__titulo{
                    padding: 10px 0 0 0;
                    color: $colorSecundario;
                    font-weight: 800;
                }

                .contenedor__foto{
                    width: 100%;
                    height: auto;
                }
                
                .contenedor__texto{
                    color: $colorParrafo;
                    text-align: justify;
                }
            }
        }
    }

    .home__principal{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        width: 100%;
        height: auto;
        padding: 30px;

        .principal__texto{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: auto;
            padding-bottom: 30px;

            .texto__parrafo{
                @extend .parrafo;
            }

            .btn-primary{
                background-color: $colorPrimario;
                border-color: $colorPrimario;
                width: fit-content;
            }
        }

        .principal__imagenes{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;

                .imagenes__foto{
                    width: 100px;
                    height: 400px;
                    opacity: 0.7;
                }

                .imagenes__foto:hover{
                    opacity: 1.0;
                }
        }
    }

    .home__platos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 30px;
        
        .platos__contenedor{
            @include parrafoSec ($colorParrafo, $colorFondoPpal);

            .contenedor__titulo{
                color: $colorSecundario;
                font-family: $familiaTitulo;
                font-size: $tamanioMenu;
            }

            .contenedor__foto{
                width: 100%;
            }

            .accordion-button{
                color: $colorParrafo;
            }

            .accordion-button:not(.collapsed){
                background-color: $colorTerciario;
                color: $colorParrafoAlt;
            }

            .accordion-button::after{
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f5f5f5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            }
        }
    }

    .home__news{
        display: flex;
        justify-content: center;
        padding: 30px;

    
        .news__contenedor{
            color: $colorParrafo;
            padding: 10px;
            margin-bottom: 20px;

            .btn-primary{
                background-color: $colorPrimario;
                border-color: $colorPrimario;
            }
        }
    }

    /* VISTA PARA MOVIL 480px ********************************/
    @media only screen and (min-width:480px){
        .home{

            .home__novedades{
                padding: 15px;

                .novedades__primerCont{
                    flex-direction: row;
                }

                .novedades__segundoCont{
                    flex-direction: row;
                }
            }

            .home__principal{
                flex-direction: column;

                .principal__texto{
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    height: auto;
                }
            }       
        }
    }

    /* VISTA PARA TABLET 768px ******************************/
    @media only screen and (min-width:768px){
        .home__principal{
            flex-direction: row;

            .principal__texto{
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: auto;
                padding-right: 40px;
            }

        }

        .home__novedades{
            flex-direction: row;
        }
    }


    /* VISTA PARA DESKTOP 1024px **************************/
    @media only screen and (min-width:1024px){
        .home{
            padding: 30px;

            .home__novedades{
                flex-direction: row;
                padding: 30px;

                .novedades__primerCont{
                    flex-direction: row;
                }
        
                .novedades__segundoCont{
                    flex-direction: row;
                }
            }

            .home__principal{
                display: flex;
                flex-direction: row;
            }
        }
    }
}


// PAGINA PRODUCTOS //
.productos{
    background-color: $colorFondoPpal;
    display: flex;
    justify-content: center;

    .productos__grilla{
        display:flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;

        .grilla__intro{
            grid-area: intro;
            padding-left: 20px;
            
            .intro__parrafo{
                @extend .parrafo;
            }
        }
   
        .grilla__producto{
            display: flex;
            width: 90%;
            height: 400px;
            margin: 10px;
            padding: 10px;
            background-repeat:no-repeat;
            max-width: 800px;
            border-radius: 20px;

            .producto__titulo{
                font-size: $tamanioGrillaTitulo;
                font-weight: $pesoGrillaTitulo;
                color: $colorParrafo;
                text-shadow: $sombraTitulos;
            }

            .producto__lista{
                background-color: $colorFondoProductos;
                font-family: $familiaParrafo;
                width: 98%;
                height: auto;
                padding: 10px;
                border-radius: .25rem;

                .btn{
                    float: right;
                    font-size: 12px;
                    background-color: $colorPrimario;
                    border-color: $colorPrimario;
                }
            }
        }

        .grilla__fideos{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 600px;

            .fideos__foto{
                width: 50%;
                height: 600px;

                .foto__img{
                    width: 100%;
                    height: 100%;
                }
            }

            .fideos__opciones{
                width: 50%;
                height: 600px;

                .opciones__texto{
                    width: 100%;
                    height: 300px;
                    background-color: $colorPrimario;
                    padding: 10px;           

                    .texto__titulo{
                        font-size: $tamanioGrillaTitulo;
                        font-weight: $pesoGrillaTitulo;
                        color: $colorParrafoAlt;
                        text-shadow: $sombraTitulos;
                    }
    
                    .texto__parrafo{
                        @extend .parrafo;
                        color: $colorCuatro;
                        padding: 5px;
                    }

                    .list-group{
                        background-color: $colorFondoProductos;
                        font-family: $familiaParrafo;
                        font-size: 16px;
                        width: 100%;
                        height: auto;
                        padding: 5px;
                        border-radius: .25rem;
                    }

                    .btn{
                        float: right;
                        font-size: 20px;
                        color: $colorParrafo;
                        background-color: $colorCinco;
                        border-color: $colorCinco;
                    }
                }

                .opciones__fotobajo{
                    width: 100%;
                    height: 300px;
    
                    .fotobajo__img{
                        width: 100%;
                        height: 100%;
                    }
                }


            }



        }

        .grilla__producto--fideos{
            @extend .grilla__producto;
            grid-area: fideos;
            background-image: url("../images/grilla-fideos.png");
            
        }

        .grilla__producto--ravioles{
            @extend .grilla__producto;
            grid-area: ravioles;
            background-image: url("../images/grilla-ravioles.png");
        }

        .grilla__producto--otras{
            @extend .grilla__producto;
            grid-area: otras;
            background-image: url("../images/grilla-otras.png");
        }

        .grilla__producto--salsas{
            @extend .grilla__producto;
            grid-area: salsas;
            background-image: url("../images/grilla-salsas.png");
        }
    }       

    
    /* VISTA PARA MOVIL 480px ******************************/
    @media only screen and (min-width:480px){
        .productos__grilla{
            grid-template-columns: 100%;
            grid-template-rows: repeat(5, auto);
            grid-template-areas:"intro"
                                "fideos"
                                "ravioles"
                                "otras"
                                "salsas";
            .grilla__producto{
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }
        }
    }


    /* VISTA PARA TABLET 768px *****************************/
    @media only screen and (min-width:768px){
        .productos__grilla{
            grid-template-columns: 50% 50%;
            grid-template-rows: auto auto auto;
            grid-template-areas:"intro intro"
                                "fideos ravioles"
                                "otras salsas";

            .grilla__producto{
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }
        }
    }


    /* VISTA PARA DESKTOP 1024px **************************/
    @media only screen and (min-width:1024px){
        .productos__grilla{
            grid-template-columns: 50% 50%;
            grid-template-rows: auto auto auto;
            grid-template-areas:"intro intro"
                                "fideos ravioles"
                                "otras salsas";

            .grilla__producto{
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }
        }
    }
}

// PAGINA GALERIA DE IMAGENEES //
.galeria{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    background-color: $colorFondoPpal;
    padding: 10px;

    .galeria__videos{
        display: flex;
        align-items: center;

        .videos__contenedor{
            position: relative;
            padding-top: 56.25%;
            width: 100%;
            overflow: hidden;

            .contenedor__iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 10px;
            }
        }
    }

    .galeria__foto{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    /* VISTA PARA MOVIL 480px ******************************/
    @media only screen and (min-width:480px){        
        .galeria__videos{
            flex-direction: column;
            justify-content: start;
            width: 100%;
            height: auto;
        }
   }

    /* VISTA PARA TABLET 768px *****************************/
    @media only screen and (min-width:768px){
        .galeria__videos{
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: auto;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    /* VISTA PARA DESKTOP 1024px **************************/
    @media only screen and (min-width:1024px){
        .galeria__videos{
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            height: 100%;
        }
        
        .carousel {
                width: 800px;
                height: 534px;
        }          
    }
}

// PAGINA QUIENES SOMOS //
.quienes{
    padding: 10px;
    background-color: $colorFondoPpal;
    width: 100%;

    .seccion__imagen{
        height: auto;
        padding: 10px;
        border-radius: 30px;
    }
    
    .parrafo--quienes{
        @extend .parrafo;
        padding: 10px;
        border-radius: 8px;
    }

    /* VISTA PARA MOVIL 480px ******************************/
    @media only screen and (min-width:480px){        
        .quienes{
            display:flex;
            flex-direction: column;
        }
        
        .quienes__seccion{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
    
            .seccion__imagen{
                max-width: 100%;
                height: auto;
                padding: 10px;
                border-radius: 30px;
            }
        }
   }
   

    /* VISTA PARA DESKTOP 1024px **************************/
    @media only screen and (min-width:1024px){
        .quienes{
            display: inline-block;
        }
        
        .quienes__seccion{
            display: inline-block;
        
            .seccion__imagen{
                display: block;
                float: left;
                overflow: hidden;
                max-width: 40%;
                height: auto;
                padding: 10px;
                border-radius: 30px;
                transition: all 1.5s;
                transition-timing-function: ease-in;
            }

            .seccion__imagen:hover{
                transform: scale(1.5) translate(50%, 0);
            }
        }

        
    }
}

// PAGINA CONTACTO //
.contacto{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height:100vh;
    background-color: $colorFondoPpal;

    .contacto__banner{
        width: 100%;
        height: 200px;
        background-image: url("../images/banner.png");
        background-position: center;
        
        .banner__titulo{
            font-size: 2.5rem;
            color: $colorSecundario;
            text-shadow: 2px 2px black;
            padding: 10px;
        }

        .banner__foto{
            width: 100%;
            height: auto;
        }
    }

    .contacto__formulario{
        background-color: $colorSecundario;
        border-radius: 8px;
        height:max-content;
        margin: 10px;
        padding: 10px;

        .formulario__titulo{
            border-radius: 8px;
            padding-left: 10px;
            padding-bottom: 40px;
            padding-top: 1px;
            font-size: 2rem;
            font-weight: bold;
            font-family: $familiaParrafo;
            height: 10px;
        }

        .form-check-input:checked {
            background-color: $colorPrimario;
            border-color: $colorPrimario;
        }

        .btn-primary{
            background-color: $colorPrimario;
            border-color: $colorPrimario;
        }
    }

    .contacto__lateral{
        
        .lateral__ubicacion{
            @include parrafoSec($colorParrafo, $colorFondoPpal);
            border: 4px solid $colorSecundario;

            .ubicacion__titulo{
                font-size: $tamanioMenu;
                font-family: $familiaParrafo;
                color: $colorSecundario;
            }

            .btn-primary{
                background-color: $colorPrimario;
                border-color: $colorPrimario;
            }

            .collapse{
                color: black;
            }

            .ubicacion__mapa{
                margin-top: 10px;
                margin-bottom: 1px;
                width: 100%;
            }

            .card-body{
                margin-bottom: 1rem;
            }
        }
    }

    /* VISTA PARA MOVIL 480px ********************************/
    @media only screen and (min-width:480px){
        .contacto__formulario{
            width: 95%;
        }    
        
        .contacto__lateral{
            width: 90%;
        }
    }

    /* VISTA PARA DESKTOP 1024px **************************/
    @media only screen and (min-width:1024px){
        .contacto__formulario{
            width: 85%;
        }
        
        .contacto__lateral{
            width: 80%;
        }
    }
}